/* Common */
.atlb__tabs .components-select-control {
	flex-direction: row !important;
	align-items: center !important;
}

.atlb__tabs .components-button.is-secondary {
	color: #406343 !important;
	box-shadow: inset 0 0 0 1px #c3cec4 !important;
}

.atlb__tabs .components-select-control .components-flex-item {
	flex: 1 !important;
}

.atlb__tabs .components-select-control .components-flex-item label {
	margin: 0 !important;
}

.atlb__tabs .components-input-control__backdrop {
	border-color: #708a726b !important;
}

.atlb__tabs .components-base-control__label,
.atlb__tabs .components-input-control__label {
	font-size: 13px !important;
	text-transform: none !important;
	font-weight: 400 !important;
}

/* Others */
p.atlb__label {
	line-height: 1.5;
	margin-bottom: 1em !important;
	font-size: 13px;
	text-transform: none;
	font-weight: 400;
}

span.components-base-control__label {
	margin-bottom: 0 !important;
}

.atlb__tabs p.components-base-control__help {
	font-style: italic !important;
}

.atlb__tabs .components-tab-panel__tabs {
	justify-content: space-around;
	align-items: center;
}

.atlb__tab {
	width: 100%;
	justify-content: center;
	border-top: 1px solid #e0e0e0;
}

.atlb__tab:focus {
	outline: none !important;
	box-shadow: none !important;
}

.atlb__tab.atlb__middle {
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

.atlb__tab.active_tab {
	border-top: 2px solid #406343;
	color: #406343;
	background: #40634324;
}

/* Icons Panel */
.atlb__icons_panel .components-button-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.atlb__icons_panel .components-button-group .components-button {
	width: 15%;
	text-align: center;
	line-height: 100%;
	margin: 5px;
}

/* Icon Picker */
.atlb__icons .components-button-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: #fff;
	padding: 10px;
	row-gap: 10px;
	min-width: 220px;
	justify-content: space-between;
	box-sizing: border-box;
}

.atlb__icons .components-button-group button.components-button {
	display: block;
	width: 21%;
	box-shadow: inset 0 0 0 1px #708a726b !important;
	box-sizing: border-box;
	padding: 0 !important;
}

.atlb__icons_wrapper {
	display: inline-block;
}

button.wp-block-bcb-icon {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.atlb__icon_url {
	width: 230px;
	padding: 10px;
	background-color: #fff;
	box-sizing: border-box;
}
